RH_CHAIN_ID=4663
RH_RPC_URL=https://rpc.mainnet.chain.robinhood.com
RH_RPC_FALLBACK_URLS=https://robinhood-mainnet.g.alchemy.com/v2/YOUR_ALCHEMY_KEY
WALLET_ADDRESS=0x0000000000000000000000000000000000000000
